.popup__input-error {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #FF0000;
  margin-top: 3px;
  min-height: 30px;
  visibility: hidden;
  width: 358px;
  display: flex;
}

@media screen and (max-width: 600px) {
  .popup__input-error {
    width: 238px;
  }
}